---
layout: page
title: Java
permalink: /java/
---

{% if <site class="javas"></site>.size == 0 %}
  <h2>No post found</h2>
{% endif %}

<ul class="java">
  {% for java in site.javas %}
    {% unless java.next %}
      <h2>{{ java.date | date: '%Y' }}</h2>
    {% else %}
      {% capture year %}{{ java.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ java.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
        <h2>{{ java.date | date: '%Y' }}</h2>
      {% endif %}
    {% endunless %}

    <li>
      {% if java.link %}
      <a href="{{ java.link }}">
      {% else %}
      <a href="{{ site.baseurl }}{{ java.url }}">
      {% endif %}
        {{ java.title }}
      </a>
      <time>{{ java.date | date: "%Y-%m-%d" }}</time>
    </li>
  {% endfor %}
</ul>
